#	SOUND.CNF

SE	1	SOUND/SHOT2.PCM		プレイヤーのショット
SE	2	SOUND/MSE059.PCM	敵ダメージ無し
SE	3	SOUND/MSE023.PCM	敵ダメージ
SE	4	SOUND/MSE049.PCM	敵コアダメージ
SE	5	SOUND/GUWI_01.PCM	敵ショット
SE	6	SOUND/BEAM.PCM		敵ショット（中）
SE	7	SOUND/DOWI_01.PCM	敵ショット（大）
SE	8	SOUND/SMALLGUN.PCM	敵炸裂弾（中）
SE	9	SOUND/VIDEO_K.PCM	敵炸裂弾（大）
SE	10	SOUND/DSEG003.PCM	敵レーザー
SE	11	SOUND/DSEX001.PCM	敵極太レーザー
SE	12	SOUND/ZAKOBOM.PCM	敵ザコ爆発

SE	13	SOUND/LOCK.PCM		敵キャラ合体音（小）
SE	14	SOUND/DOOR1.PCM		敵キャラ合体音（中）
SE	15	SOUND/DOOR1.PCM		敵キャラ合体音（大）

SE	16	SOUND/KW_SE7.PCM	ボンバーエネルギーチャージ音
SE	17	SOUND/BOM2.PCM		ボンバー音（Ａボタンを押した瞬間）
SE	18	SOUND/BOM2.PCM		ボンバー音（ボンバー）
SE	19	SOUND/BOM2.PCM		ボンバー音（バックボンバー）
SE	20	SOUND/DSEQ004.PCM	ボンバー音（レーザー）


SE	21	SOUND/BOM2.PCM		中ボス爆発
SE	22	SOUND/DSEG004.PCM	ボスキャラ爆発
SE	23	SOUND/ZAKOBOM.PCM	プレイヤー爆発
SE	24	SOUND/KW_SE21.PCM	エクステンド音

#MUSIC	2	SOUND/PT047MK.ZMD	面クリア
MUSIC	3	SOUND/EY11_.ZMD		ゲームオーバー
MUSIC	4	SOUND/OG1TK.ZMD		ネーム入れ（１位）
MUSIC	5	SOUND/OG1_.ZMD		ネーム入れ（２～10位）

MUSIC	8	SOUND/PT042MK.ZMD	ボス
MUSIC	9	SOUND/PT048MK.ZMD	ラスボス

MUSIC	11	SOUND/FG.ZMD		１面
MUSIC	12	SOUND/PN.ZMD		２面
MUSIC	13	SOUND/PT033MK.ZMD	３面
MUSIC	14	SOUND/SB.ZMD		４面
